/* .Home-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
} */

.textBox {
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    height: 500px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    caret-color: white;
  }

.Browse {
    text-align: left;
    position: fixed;
    top: 100px;
    left: 0px;
    z-index: 2;
}

.results {
    position: relative;
    top: 100px;
    color: white;
}

.link-button {
    background-color: rgb(53, 121, 246);
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.dropdownMenu {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.dropdown {
    background-color: rgb(53, 121, 246);
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 10px;
}

.sendBtn {
    background-color: rgba(53, 121, 246);
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
    border-radius: 10px;
}